<%- include ('PageHeader.ejs') %>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="/" class="site-logo">
				<img src="img/logo.png" alt="" style="height: 60px; padding-left: 90px;">
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="" class="user"><i class="fa fa-user"></i></a>
			<a href="/login" class="site-btn">Sign In</a>
			<nav class="main-menu">
				<ul class="menu-list">
					<li><a href="/">Home</a></li>
					<li><a href="/investors">Investors</a></li>
					<li><a href="/our-features">Our features</a></li>
					<li><a href="/blog">News</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->

	<!-- Hero section -->
	<section class="hero-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 hero-text">
					<h2><span>Internet Banking </span> <br>Loves Every Moment</h2>
					<h4>Customers will definitely have more time to enjoy, appreciate and love every moment of life.
					</h4>

				</div>
				<div class="col-md-6">
					<img src="img/laptop.png" class="laptop-image" alt="">
				</div>
			</div>
		</div>
	</section>



	<!-- Team section -->
	<section class="team-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Lập Trình Web 02</h2>
				<p>Thông Tin Nhóm </p>
			</div>
		</div>
		<div class="team-members clearfix">
			<!-- Team member -->
			<div class="member">
				<div class="member-text">
					<div class="member-img set-bg" data-setbg="img/member/1.jpg"></div>
					<h2>Anh Vũ</h2>
					<span>1760467</span>
				</div>
				<div class="member-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
				</div>
				<div class="member-info">
					<div class="member-img mf set-bg" data-setbg="img/member/1.jpg"></div>
					<div class="member-meta">
						<h2>La Anh Vũ</h2>
						<span>1760467</span>
					</div>
					<p>Anh Vũ is a third year university student in natural sciences.</p>
				</div>
			</div>

			<div class="member">
				<div class="member-text">
					<div class="member-img set-bg" data-setbg="img/member/3.jpg"></div>
					<h2>Trần Văn Thương</h2>
					<span>1760439</span>
				</div>
				<div class="member-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
				</div>
				<div class="member-info">
					<div class="member-img mf set-bg" data-setbg="img/member/3.jpg"></div>
					<div class="member-meta">
						<h2>Trần Văn Thương</h2>
						<span>1760439</span>
					</div>
					<p>Thương is a third year university student in natural sciences.</p>
				</div>
			</div>
			<!-- Team member -->
			<div class="member">
				<div class="member-text">
					<div class="member-img set-bg" data-setbg="img/member/4.jpg"></div>
					<h2>Đặng KHắc Khanh</h2>
					<span>1760331</span>
				</div>
				<div class="member-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
				</div>
				<div class="member-info">
					<div class="member-img mf set-bg" data-setbg="img/member/4.jpg"></div>
					<div class="member-meta">
						<h2>Đặng Khắc Khanh</h2>
						<span>1760331</span>
					</div>
					<p>Khanh is a third year university student in natural sciences.</p>
				</div>
			</div>
			<!-- Team member -->
			<div class="member">
				<div class="member-text">
					<div class="member-img set-bg" data-setbg="img/member/5.jpg"></div>
					<h2>Trương Nguyễn Hoàng An</h2>
					<span>1760003</span>
				</div>
				<div class="member-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
				</div>
				<div class="member-info">
					<div class="member-img mf set-bg" data-setbg="img/member/5.jpg"></div>
					<div class="member-meta">
						<h2>Hoàng An</h2>
						<span>1760003</span>
					</div>
					<p>Hoàng An is a third year university student in natural sciences.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row spad">
				<div class="col-md-6 col-lg-3 footer-widget">
					<img src="img/logo.png" class="mb-4" alt="">
					<p>General belief firmly the future.</p>
					<span>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script></a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
				</div>
				<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
					<h5 class="widget-title">Individual customers</h5>
					<ul>
						<li><a href="#">Promotions</a></li>
						<li><a href="#">Card</a></li>
						<li><a href="#">Accounts and savings</a></li>
						<li><a href="#">Personal loans</a></li>
						<li><a href="#">Transfer and receive money</a></li>
						<li><a href="#">Electronic banking</a></li>
						<li><a href="#">Invest</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
					<h5 class="widget-title">Institutional customers</h5>
					<ul>
						<li><a href="#">Financial institutions</a></li>
						<li><a href="#">Large corporate customers</a></li>
						<li><a href="#">Small and medium business customers</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-3 footer-widget pl-lg-5 pl-3">
					<h5 class="widget-title">Follow Us</h5>
					<div class="social">
						<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="" class="google"><i class="fa fa-google-plus"></i></a>
						<a href="" class="instagram"><i class="fa fa-instagram"></i></a>
						<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="row">
					<div class="col-lg-4 store-links text-center text-lg-left pb-3 pb-lg-0">
						<a href=""><img src="img/appstore.png" alt="" class="mr-2"></a>
						<a href=""><img src="img/playstore.png" alt=""></a>
					</div>
					<div class="col-lg-8 text-center text-lg-right">
						<ul class="footer-nav">
							<li><a href="">DPA</a></li>
							<li><a href="">Terms of Use</a></li>
							<li><a href="">Privacy Policy </a></li>
							<li><a href="">support@company.com</a></li>
							<li><a href="">(123) 456-7890</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
<%- include("PageFooter.ejs")  %>