<%- include("PageHeader") %>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<div class="row content">
				<div class="col-md-10 content-log">
					<a href="/" class="site-logo">
						<img src="img/logo.png" alt="" style="height: 60px; padding-left: 90px;">
					</a>
				</div>
				<div class="col-md-2 content-info">
					<div class="content-info__title">Hello, Customer</div>
					<div class="conten-info-button">
						<a href="/logout" class="mybtn test__link" style="background-color:#f14e4e">
							<i class="fa fa-power-off" aria-hidden="true"></i>
							Sign Out
						</a>
					</div>
				</div>

			
			</div>
		</div>

	</header>
	<br><br><br><br><br><br>
	<!-- Header section end -->


	<!-- Features section -->
	<section class="features-section spad gradient-bg">
		<div class="container text-white">
			<div class="section-title text-center">
				<h2 style="font-size:4rem;">Baking Features</h2>
				<p>Free and convenient transactions.</p>
			</div>
			<div class="row">
				<!-- feature -->
				<div class="col-md-6 col-lg-4 feature">
					<i class="fas fa-university"></i>
					<div class="feature-content">
						<a href="#">
							<h4>Bank Transfer</h4>
						</a>
						<p>Transfer, receive money immediately. </p>
					</div>
				</div>
				<!-- feature -->
				<div class="col-md-6 col-lg-4 feature">
					<i style="margin:0 20px 0 0;" class="fa fa-credit-card-alt"></i>
					<div class="feature-content">
						<a href="#">
							<h4>Account Information</h4>
						</a>
						<p>Saving or Payment Account </p>
					</div>
				</div>
				<!-- feature -->
				<div class="col-md-6 col-lg-4 feature">
					<i class="fa fa-history"></i>
					<div class="feature-content">
						<a href="#">
							<h4>Transaction History</h4>
						</a>
						<p>History Money Management</p>
					</div>
				</div>
				<!-- feature -->
				<div class="col-md-6 col-lg-4 feature">
					<i class="fa fa-info-circle"></i>
					<div class="feature-content">
						<a href="#">
							<h4>Customer Information</h4>
						</a>
						<p>Detail About Information of Customer</p>
					</div>
				</div>
				<!-- feature -->
				<div class="col-md-6 col-lg-4 feature">
					<i style="margin:0 20px 0 0;" class="fa fa-money"></i>
					<div class="feature-content">
						<a href="#">
							<h4>Bank Saving</h4>
						</a>
						<p>High interest rates, Stable, Safe</p>
					</div>
				</div>
				<!-- feature -->
				<div class="col-md-6 col-lg-4 feature">
					<i class="fas fa-headphones"></i>
					<div class="feature-content">
						<h4>Support - Help</h4>
						<p>Friendly, enthusiastic. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->

</body>
<%- include("PageFooter") %>