<%- include("PageHeader") %>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="wrap">
    <div class="header">
      <div class="header-title">
        <div class="header-title-img">
          <img src="../img/logo.png" alt="" />
        </div>
        <div class="header-title-btn">
          <div class="header-title-btn__name">Hello, <%=CustomerName%></div>
          <a href="/logout" class="mybtn test__link" style="background-color: #f14e4e;">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            Sign Out
          </a>
        </div>
      </div>
       <%- include('Partials/menu') %> 
    </div>
    <div class="content gradient-bg">
      <section class="features-section ">
        <div class="container text-white">
          <div class="section-title text-center content-title">
            <h2>
              Baking Transfer
            </h2>
            <p>Secured and Safe money transfer service</p>
          </div>
          <div class="row content-section">
            <!-- feature -->
            <div class="col-md-6 col-lg-3 feature content-section-item">
              <i class="fa fa-university"></i>
              <div class="feature-content">
                <a class="not-active" href="/internaltransfer">
                  <h4>Internal Transfer</h4>
                </a>
                <p>Transfer and Receive money immediately.</p>
              </div>
            </div>
            <!-- feature -->
            <div class="col-md-6 col-lg-3 feature content-section-item">
              <i class="fa fa-university content-section-item__icon"></i>
              <div class="feature-content content-section-item-title">
                <a class="not-active" href="/">
                  <h4>InterBank Transfer</h4>
                </a>
                <p>Receive money in 24 hours</p>
              </div>
            </div>
            <!-- feature -->
            <div class="col-md-6 col-lg-3 feature content-section-item">
              <i class="fa fa-history content-section-item__icon"></i>
              <div class="feature-content content-section-item-title">
                <a class="not-active" href="/transfermoneyhistory">
                  <h4>Transaction</h4>
                </a>
                <p>Transfer Money History</p>
              </div>
            </div>





          </div>
        </div>
    </div>
    </section>
  </div>
  </div>
</body>


<%- include("PageFooter") %>