<%- include("PageHeader") %>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="wrap">
    <div class="header">
      <div class="header-title">
        <div class="header-title-img">
          <img src="../img/logo.png" alt="" />
        </div>
        <div class="header-title-btn">
          <div class="header-title-btn__name">Hello, <%=CustomerName%></div>
          <a href="/logout" class="mybtn test__link" style="background-color: #f14e4e;">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            Sign Out
          </a>
        </div>
      </div>
      <nav class="header-menu">
        <ul class="menu-lv1">
          <li><i class="fas fa-home"></i> <a class="home" href="/features">Home</a> </li>
          <li>
            <i class="fas fa-university"></i> Transfer
            <ul class="menu-lv2">
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
            </ul>
          </li>
          <li>
            <i style="margin: 0 5px 0 0;" class="fa fa-credit-card-alt"></i>
            Account
            <ul class="menu-lv2">
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
            </ul>
          </li>
          <li>
            <i class="fa fa-info-circle"></i> Customer
            <ul class="menu-lv2">
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
            </ul>
          </li>
          <li>
            <i style="margin: 0 5px 0 0;" class="fa fa-money"></i> Saving
            <ul class="menu-lv2">
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
              <li>item 01</li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="content gradient-bg">
      <section class="features-section ">
        <div class="container text-white">
          <div class="section-title text-center content-title">
            <h2>Create account failed</h2>
            <h3>
              You must have Payment Account before!!!
            </h3>
            <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">OK</a>
          </div>          
        </div>
    </div>
    </section>
  </div>
  </div>
</body>


<%- include("PageFooter") %>