<%- include("PageHeader") %>

<body>
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>

  <div class="wrap">
    <div class="header">
      <div class="header-title">
        <div class="header-title-img">
          <img src="../img/logo.png" alt="" />
        </div>
        <div class="header-title-btn">
          <div class="header-title-btn__name">Hello, <%=CustomerName%></div>
          <a href="/logout" class="mybtn test__link" style="background-color: #f14e4e;">
            <i class="fa fa-power-off" aria-hidden="true"></i>
            Sign Out
          </a>
        </div>
      </div>
      <%- include('Partials/menu') %> 
    </div>
    <div class="content gradient-bg">
      <section class="features-section ">
        <div class="container text-white">
          <div class="section-title text-center content-title">
            <h2>
              Transfer money success
            </h2>
            
          </div>          
        </div>
    </div>
    </section>
  </div>
  </div>
</body>


<%- include("PageFooter") %>