* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Abel", sans-serif !important;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}
.show-error {
  align-items: center;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a.mybtn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
a.mybtn:hover {
  border-color: rgba(255, 255, 255, 1);
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
@media all and (max-width: 30em) {
  a.mybtn {
    display: block;
    margin: 0.2em auto;
  }
}

.home {
  color: white;
  outline: 0;
}
.home:hover {
  color: white;
}

.content-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.content-info__title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  height: 200px;

  flex-grow: 1;
  margin: 2px;
  position: relative;
}

.header-title {
  width: 100%;
  height: 100px;
}

.header-title-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title-img > img {
  height: 60px;
}

.header-title-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 50px;
}

.header-title-btn__name {
  margin-bottom: 10px;
  font-size: 20px;
}

.menu-lv1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.menu-lv1 > li {
  align-self: center;
  position: relative;
  list-style: none;
  height: 45px;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border: 2px solid black;
  background: linear-gradient(
    to left,
    #3e2bce 0%,
    #2dd3aa 100%,
    #2dd3aa 100%,
    #2dd3aa 100%
  );
  width: 200px;
  border-radius: 5px;
  color: white;
  font-size: 25px;
}

.menu-lv1 > li:hover > ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.menu-lv2 {
  width: 100%;
  position: absolute;
  top: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: 1s ease-in-out;
  opacity: 0;
  padding: 5px;
  padding-top: 0px;
  background: white;
  overflow: hidden;
  border-radius: 0 5px 5px 5px;
}

.menu-lv2 > li {
  list-style: none;
  display: inline-block;
  width: 100%;
  background: linear-gradient(
    to left,
    #3e2bce 10%,
    #2dd3aa 100%,
    #2dd3aa 100%,
    #2dd3aa 100%
  );
  margin: 2px;
  transition: all 0.3s ease-in-out 0.1s;
}
.menu-lv2 > li:hover {
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: 28px;
  opacity: 0.8;
  background: linear-gradient(
    to right,
    #3e2bde 20%,
    #2de3aa 80%,
    #2dd3aa 100%,
    #2dd3aa 100%
  );
}
.content {
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  margin: 2px;
}
.content-title {
  margin-bottom: 35px !important;
  margin-top: 60px !important;
}
.content-title > h2 {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.content-section {
  display: flex;
  justify-content: center;
}
.content-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 7px double white;
  margin: 3px 30px;
  cursor: pointer;
}

.content-section-item i {
  font-size: 5rem;
  position: relative;
}

.content-section-item > div {
  padding: 0px !important;
}

.content-section-item > div > a > h4 {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}
.content-section-item > div > p {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}
a {
  outline: 0;
}

.form {
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0px !important;
  border: 0px !important;
  padding: 0px !important;
  margin-top: 20px !important;
}
.form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-title > h2 {
  color: white;
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 15px;
}
.form-title > p {
  color: white;
  font-size: 12;
  font-weight: bold;
}

.form-group {
  width: 85%;
}
.form-main {
  border: 5px double white;
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 4px;
}

.mycontainer {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.myinput {
  width: 100%;
  height: 50px;
  border: 0px solid transparent;
  border-radius: 5px;
  border-bottom: 1px solid #aaa;
  padding: 1em 0.5em 0.5em;
  padding-left: 1em;
  outline: none;
  margin: 1.2em auto;
  transition: all 0.5s ease;
}

.myinput:focus {
  border-bottom: 3px solid #2dd3aa;
  box-shadow: 0 0 15px rgba(0, 80, 80, 0.4);
  border-radius: 4px;
}
label {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.box {
  width: 100%;
  height: 300px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-img {
  width: 100%;
  height: 200px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-img > img {
  padding: 2px;
  width: 300px;
  height: 185px;
  border: 2px double white;
}

.box-btn > input {
  margin-top: 5px;
  width: 150px;
  height: 30px;
  border-radius: 10px;
}
.mail {
  margin-top: 10px;
  width: 100%;
  height: auto;
  border: 5px double white;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  padding: 15px;
}

.mail-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail-title > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 20px;
}
.mail-title > div > img {
  width: 400px;
  height: 100px;
}
.text > p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.box-mail {
  height: auto;
  margin: 10px;
  border: 10px double white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.mail-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mail-header > h2 {
  color: white;
  margin: 0px;
  color: white;
  text-align: inherit;
  margin-left: 20px;
}
.mail-header > div {
  color: white;
  font-size: 4em;
  text-align: center;
  margin-bottom: 20px;
}

.mail-text {
  border: 2px double white;
  height: auto;
  padding: 20px;
}
.mail-text > span {
  color: white;
  font-size: 25px;
}

.mail-action {
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
}
.checkbox-text {
  color: white;
  font-size: 25px;
}

.checkboxFour {
  width: 30px;
  height: 30px;
  background: #ddd;
  margin: 20px 10px;
  border-radius: 100%;
  position: relative;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.checkboxFour > input {
  visibility: hidden;
}
.checkboxFour label {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  background: #333;
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.checkboxFour input[type="checkbox"]:checked + label {
  background: #26ca28;
}

.btn-accept {
  width: 200px;
  height: 50px;
  border: 5px double white;
  margin: 10px 0px;
  background: linear-gradient(
    to top,
    #3e2bde 0%,
    #2de3aa 100%,
    #2dd3aa 100%,
    #2dd3aa 100%
  );
  border-radius: 5px;
}
.btn-accept > a {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.btn-accept:hover {
  background: linear-gradient(
    to left,
    #3e2bde 0%,
    #2de3aa 100%,
    #2dd3aa 100%,
    #2dd3aa 100%
  );
}

.waiting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.waiting-title > h2 {
  font-size: 5rem;
}
.waiting-box {
  width: 50%;
  height: 600px;
  border: 5px double white;
  margin-bottom: 30px;
  padding: 10px;
}
.box-main {
  border: 2px double white;
  width: 100%;
  height: 530px;
  padding: 10px;
}
.box-main-row {
  width: 100%;
  height: 40px;
  border-bottom: dotted white;
  display: flex;
  flex-direction: column-reverse;
}
.box-main-row > p {
  padding: 0px;
  margin: 0px;
  font-size: 22px;
}

/* admin style */
.dashboard {
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.db-header {
  width: 100%;
  height: 100px;
  margin: 0px;
}
.db-content {
  width: 100%;
  height: 740px;
  height: auto;
  margin: 0px;
  justify-content: space-evenly;
  display: flex;
}
.content-menu {
  width: auto;
  height: 720px;
  background-color: #dddddd;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 100px;
  left: 0px;
}
.content-menu-item {
  width: 70px;
  height: 70px;
  border: 1px solid white;
  margin: 10px 20px;
  border-radius: 4px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px;
  cursor: pointer;
}
.item-active {
  color: #00ccff;
}
.content-menu-item {
  font-size: 30px !important;
}
.content-menu-item-text > p {
  margin-bottom: 0px !important;
}
.content-menu-item-text > p > a {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  color: black;
  font-weight: bold;
}

.content-main {
  min-height: 715px;
  width: 90%;
  margin: 10px 0px;
  margin-right: 10px;
  border: 3px double white;
  margin-left: 150px;
}
.main-title {
  width: 100%;
  height: auto;
}
.main-title > h2 {
  font-size: 5vw;
  font-weight: bold;
  color: white;
  letter-spacing: 10px;
}

.main-info {
  width: 100%;
  min-height: 560px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.main-info > h3 {
  font-size: 3vw;
  margin: 20px 0px;
  color: white;
  letter-spacing: 5px;
}
.box-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0px 5px;
}
.box-info-item {
  width: 300px;
  height: 440px;
  border: 3px double white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-item-avatar {
  width: 200px;
  height: 350px;
  background-color: red;
  margin: 2px 0px;
  border: 2px solid white;
  border-radius: 50%;
  background-image: url("../img/about-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.info-item-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border: 3px double white;
  margin: 10px auto;
}
.info-item-content > h3,
p {
  color: white;
}

.main-content {
  padding: 10px 20px;
}

tr.tr-data {
  font-weight: bold;
  font-size: 18px;
  color: white;
}
tr.tr-head {
  text-align: center;
  color: black;
  font-weight: bolder;
}
.status {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.td-status {
  padding: 0rem !important;
  vertical-align: inherit !important;
  border-top: 0px solid #dee2e6;
}
.status > i {
  font-size: 3vw;
}
.action-btn > button {
  border-radius: 25px;
  height: 50px;
  width: 50px;
  background-color: white;
  margin: 6px 10px;
}
.edit {
  width: 80%;
  position: absolute;
  top: 20px;
  left: 30%;
  display: none;
}
