<div class="row form-main gradient-bg">
    <form enctype="multipart/form-data" 
    method="POST" 
    class="form-group" 
    id="FormInfoCus" 
    name="FormInfo">
        <div style="display: flex; justify-content: flex-end;" class="row">
            <button id="btnClose" style="
                    width: 30px;
                    height: 30px;
                    color: white;
                    background-color: #f14e4e;
                  ">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <div class="row">
            <label class="row">Full Name</label>
            <input class="row myinput" type="text" name="Fullname" id="Fullname" placeholder="Write Here..." />
            <input style="display: none;" name="ID"/>
        </div>

        <div class="row form-row">
            <div class="col-md-6">
                <label class="row">Date of Birth</label>
                <input class="row myinput" name="DOB" type="date" value="yyyy-MM-dd" />
            </div>

            <div class="col-md-6">
                <label class="row" for="identify">Gender</label>
                <select class="row myinput" id="identify" name="Gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="row">Phone Number</label>
            <input class="row myinput" type="text" name="Phone" id="Phone" placeholder="Write Here..." />
        </div>
        <div class="row">
            <label class="row">Address</label>
            <input class="row myinput" type="text" name="Address" id="Address" placeholder="Write Here..." />
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="row" for="Identify"> Identity Papers</label>
                <select class="row myinput" id="Identify" name="Identify">
                    <option value="CMMD">CMMD</option>
                    <option value="CCCD">CCCD</option>
                    <option value="Passport">Passport</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="row" for="IndentifyNumber">Identify Number</label>
                <input type="text" class="row myinput" name="IdentifyNumber" id="IndentifyNumber"
                    placeholder="Write here..." />
            </div>
            <div class="col-md-4">
                <label class="row" for="IndentifyDate">Identify Date</label>
                <div>
                    <input id="IndentifyDate" name="IdentifyDate" class="row myinput" type="date" value="yyyy-MM-dd" />
                </div>
            </div>
        </div>

        <div class="row">
            <label class="row" for="identify_num">Image Identify</label>
            <div class="row box">
                <div class="col-md-6 box-item">
                    <label class="row" for="identify_num">Image Identify Font</label>
                    <div class="row box-img">
                        <img id="imgFont" name="imgFont" src="../../img/about-img.png" alt="">
                    </div>
                    <div class="row box-btn">
                        <input type="button" id="btnFontCus" value="Choose Image">
                        <input accept="image/*" id="imgFontFile" type="file" name="imgFontFile" style="display: none;"
                            onchange="ShowImage(this)" />
                    </div>
                </div>
                <div class="col-md-6 box-item">
                    <label class="row" for="identify_num">Image Identify End</label>
                    <div class="row box-img">
                        <img id="imgEnd" name=" " src="../../img/about-img.png" alt="">
                    </div>
                    <div class="row box-btn">
                        <input type="button" id="btnEndCus" value="Choose Image">
                        <input accept="image/*" id="imgEndFile" onchange="ShowImage(this)" type="file" name="imgEndFile"
                            style="display: none;" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row btnsub">
            <input id="Submit" type="submit" value="Save" class="btn" />
        </div>
    </form>
</div>