<div class="content-menu-item item-active">
    <i class="fas fa-home"></i>
    <div class="content-menu-item-text">
        <p><a href="/">Home</a></p>
    </div>
</div>
<div class="content-menu-item">
    <i class="fas fa-user-circle"></i>
    <div class="content-menu-item-text">
        <p><a href="/user">User</a></p>
    </div>
</div>

<div class="content-menu-item">
    <i class="fas fa-credit-card"></i>
    <div class="content-menu-item-text">
        <p><a href="/account">Account</a></p>
    </div>
</div>

<div class="content-menu-item">
    <i class="fas fa-info-circle"></i>
    <div class="content-menu-item-text">
        <p><a href="/customer">Customer</a></p>
    </div>
</div>

<div class="content-menu-item">
    <i class="fa fa-money"></i>
    <div class="content-menu-item-text">
        <p><a href="/saving">Saving</a></p>
    </div>
</div>